@font-face {
  font-family: "Syne";
  src: url(../fonts/Syne/Syne-VariableFont_wght.ttf);
}

/* VARIABLES  */

:root {
  --primary: #dc9f96;
  --secondary: #3b8e46;
  --text-dark: #000000;
  --text-light: #ffffff;
  --hover: #c02e44;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}

/* GENERAL  */

:root {
  font-size: 62.5%;
}

body {
  font-family: "Syne", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

a:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

/* HEADER  */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 4rem;
  margin-left: 2rem;
}

.menu {
  display: flex;
}

.menu li {
  padding: 3rem 4rem;
  color: var(--text-dark);
  font-size: 1.6rem;
}

.menu li a:hover {
  font-weight: 700;
  font-size: 1.3rem;
}

.menu li.current-menu-item a {
  font-weight: 700;
  font-size: 1.3rem;
}

.meet-menu {
  order: 1;
}

.admin-menu {
  order: 2;
}

.order-menu {
  order: 3;
  background: var(--primary);
  margin-right: 0px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  padding: 3rem 8rem;
  margin-left: 4rem;
  font-size: 1.6rem;
}

.order-menu a {
  color: var(--text-light);
}

.menu .order-menu a:hover {
  font-size: 1.6rem;
  font-weight: 700;
}

.order-menu:hover {
  background: var(--hover);
}

.menu .order-menu.order-menu.current-menu-item {
  background: var(--hover);
}

.menu .order-menu.current-menu-item a {
  font-size: 1.6rem;
  font-weight: 700;
}

/* FOOTER  */

footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem;
}

/* HERO  */

#hero {
  box-shadow: #e3d9d0 0px 10px 0px;
  border-bottom-left-radius: 50% 9%;
  border-bottom-right-radius: 50% 9%;
}

/* MEET-US FORM */
.meet-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  background-image: url("../images/flower2.png");
  background-repeat: no-repeat;
  background-position: 0% 85%;
}

input[type="text"],
input[type="email"] {
  width: 400px;
  height: 71px;
  border-radius: 5px;
  border: none;
  font-family: "Syne", Sans-serif;
}

textarea {
  border-radius: 5px;
  border: none;
  font-family: "Syne", Sans-serif;
  resize: none;
  width: 400px;
  height: 240px;
}

label {
  display: block;
  font-family: "Syne", Sans-serif;
  font-size: 20px;
  margin: 1.5rem 0rem;
}

input[type="submit"] {
  display: block;
  border-radius: 5px;
  font-family: "Syne", Sans-serif;
  border: none;
  font-size: 15px;
  font-weight: 400;
  background-color: #e0b9b4;
  padding: 20px 65px 20px 65px;
  color: #fff;
  margin: 1.5rem auto;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background: var(--hover);
  transform: scale(1.1);
}

/* QUANTITY FORM */

.quantity-form {
  display: flex;
  justify-content: space-between;
}

.quantity-form input[type="submit"] {
  height: 56px;
  padding: 2rem 4rem;
  line-height: 1rem;
  margin: 0;
  transition: color;
}

.quantity {
  display: flex;
}

.quantity span:hover {
  background: var(--hover);
}

.quantity input[type="number"] {
  border: none;
  width: 51px;
  height: 56px;
  text-align: center;
  font-size: 1.6rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  appearance: textfield;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus,
.minus,
.plus2,
.minus2,
.plus3,
.minus3,
.plus4,
.minus4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background: var(--primary);
  color: #fff;
  border: none;
  width: 31px;
  height: 28px;
  cursor: pointer;
}

.plus,
.plus2,
.plus3,
.plus4 {
  border-top-right-radius: 5px;
  border-bottom: 1px solid #fff;
}

.minus,
.minus2,
.minus3,
.minus4 {
  border-bottom-right-radius: 5px;
  border-top: 1px solid #fff;
}

/* ORDER FORM */

.order-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.order-form label {
  color: #fff;
}

.order-form h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.vr {
  border-left: 1px solid #fff;
  height: auto;
}

/* MEDIA QUERIES  */

/* BURGER MENU  */
.toggleburger {
  display: none;
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  margin: 2rem 2rem;
}

.toggleburger .burger {
  display: block;
  width: 100%;
  height: 4px;
  background: var(--primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggleburger .burger::before,
.toggleburger .burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--primary);
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.toggleburger .burger::before {
  top: -10px;
}

.toggleburger .burger::after {
  bottom: -10px;
}

.toggleburger.active .burger {
  background: transparent;
}

.toggleburger.active .burger::before {
  transform: rotate(45deg);
  top: 0px;
}

.toggleburger.active .burger::after {
  transform: rotate(-45deg);
  bottom: 0px;
}

/* TABLET & MOBILE */

@media only screen and (max-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    z-index: 1;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .menu li {
    font-size: 3rem;
    padding: 3.5rem;
    display: block;
  }

  .menu li.current-menu-item a {
    font-weight: 400;
    font-size: 3rem;
  }

  .menu li a:hover {
    font-weight: 400;
    font-size: 3rem;
    opacity: 0.6;
  }

  .menu .order-menu a:hover {
    font-weight: 400;
    font-size: 3rem;
    color: var(--hover);
  }

  .menu .order-menu {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
  }

  .menu .order-menu a {
    color: var(--primary);
    font-weight: 400;
  }

  .menu .order-menu.order-menu.current-menu-item {
    background: none;
  }

  .menu .order-menu.current-menu-item a {
    font-size: 3rem;
    font-weight: 400;
  }

  .toggleburger {
    display: block;
    position: relative;
    z-index: 20;
  }

  #logo {
    position: relative;
    z-index: 20;
  }

  .open .menu {
    opacity: 1;
    transform: translateX(0);
  }
}

/* TABLET  */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  input[type="text"],
  input[type="email"] {
    width: 350px;
  }

  textarea {
    width: 350px;
  }

  .meet-us-form {
    width: 550px;
  }

  .quantity input[type="number"] {
    width: 40px;
  }

  .quantity-form input[type="submit"] {
    padding: 2rem 1.8rem;
    margin-left: 0.6rem;
  }

  .order-form input[type="text"],
  .order-form input[type="email"] {
    width: 285px;
  }

  .order-form h3 {
    font-size: 2.8rem;
  }
}

/* MOBILE  */

@media only screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"] {
    width: 300px;
  }

  textarea {
    width: 300px;
  }

  .meet-us-form {
    width: 400px;
    background-size: 30%;
  }

  .quantity input[type="number"] {
    width: 75px;
  }

  .quantity-form input[type="submit"] {
    padding: 2rem 4rem;
  }

  .order-form input[type="text"],
  input[type="email"] {
    width: 300px;
  }

  .order-form h3 {
    font-size: 2.6rem;
  }

  .order-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .vr {
    display: none;
  }

  .form-right-column {
    margin-top: 3rem;
  }
}
